{% extends 'base.html' %}
{% load static %}
{% block mainarea %}
<!-- Page Wrapper -->
<section class="page-wrapper success-msg">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="block text-center">
        	<i class="tf-ion-android-checkmark-circle"></i>
          <h2 class="text-center">感謝您的購買!請您點擊下方的馬上付款</h2>
          <p>一收到您的款項後我們將會以最快的速度處理訂單</p>
          <a href="/order" class="btn btn-main mt-20">馬上付款</a>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}