{% extends 'base.html' %}
{% load static %}
{% block js %}{% endblock %}
{% block mainarea %}


    <section class="single-product">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <ol class="breadcrumb">
                        <li><a href="/index">首頁</a></li>
                        <li><a href="/shop_sidebar">商店</a></li>
                        <li class="active">商品資訊</li>
                    </ol>
                </div>
                <div class="col-md-6">
                    <ol class="product-pagination text-right">
                        {#                        <li><a href="blog-left-sidebar.html"><i class="tf-ion-ios-arrow-left"></i> 下一項 </a></li>#}
                        {#                        <li><a href="blog-left-sidebar.html">Preview <i class="tf-ion-ios-arrow-right"></i></a></li>#}
                    </ol>
                </div>
            </div>
            <div class="row mt-20">
                <div class="col-md-5">
                    <div class="single-product-slider">
                        <div id='carousel-custom' class='carousel slide' data-ride='carousel'>
                            <div class='carousel-outer'>
                                <!-- me art lab slider -->
                                <div class='carousel-inner '>
                                    {% for photo in product_photos %}
                                        <div class='item {% if forloop.first %}active{% endif %}'>
                                            <img src="{{ photo.product_photo.url }}" alt=''
                                                 data-zoom-image="{{ photo.product_photo }}"/>
                                        </div>
                                    {% endfor %}
                                </div>

                                <!-- sag sol -->
                                <a class='left carousel-control' href='#carousel-custom' data-slide='prev'>
                                    <i class="tf-ion-ios-arrow-left"></i>
                                </a>
                                <a class='right carousel-control' href='#carousel-custom' data-slide='next'>
                                    <i class="tf-ion-ios-arrow-right"></i>
                                </a>
                            </div>

                            <!-- thumb -->
                            <ol class='carousel-indicators mCustomScrollbar meartlab'>
                                {% for photo in product_photos %}
                                <li data-target='#carousel-custom' data-slide-to='{{ forloop.counter0 }}' {% if forloop.first %}class='active'{% endif %}>
                                    <img src='{{ photo.product_photo.url }}' alt=''/>
                                </li>
                                {% endfor %}
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="single-product-details">
                        <h2>{{ product_content.name }}</h2>
                        <p class="product-price">${{ product_content.price }}</p>

                        <p class="product-description mt-20">
                            {{ product_content.small_description }}
                        </p>
                        {% comment %}
                        <div class="color-swatches">
                            <span>color:</span>
                            <ul>
                                <li>
                                    <a href="#!" class="swatch-violet"></a>
                                </li>
                                <li>
                                    <a href="#!" class="swatch-black"></a>
                                </li>
                                <li>
                                    <a href="#!" class="swatch-cream"></a>
                                </li>
                            </ul>
                        </div>
                        <div class="product-size">
                        <span>Size:</span>
                        <select class="form-control">
                        <option>S</option>
                        <option>M</option>
                        <option>L</option>
                        <option>XL</option>
                        </select>
                    </div>
{% endcomment %}
                        <div class="product-quantity">
                            <span>數量:</span>
                            <div class="product-quantity-slider">
                                <input id="product-quantity" type="text" value="0" name="product-quantity">
                            </div>
                        </div>
                        <div class="product-category">
                            <span>類別:</span>
                            <ul>
                                <li><a href="/product-single">{{ product_content.category }}</a></li>
                            </ul>
                        </div>
                        <a href="/cart" class="btn btn-main mt-20">加入購物車</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="tabCommon mt-20">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#details" aria-expanded="true">場品資訊</a>
                            </li>
                            {#                            <li class=""><a data-toggle="tab" href="#reviews" aria-expanded="false">Reviews (3)</a></li>#}
                        </ul>
                        <div class="tab-content patternbg">
                            <div id="details" class="tab-pane fade active in">
                                <h4>產品描述</h4>
                                <p>{{ product_content.description }}</p>
                            </div>
                            {% comment %}
                            <div id="reviews" class="tab-pane fade">
                                <div class="post-comments">
                                    <ul class="media-list comments-list m-bot-50 clearlist">
                                        <!-- Comment Item start-->
                                        <li class="media">

                                            <a class="pull-left" href="#!">
                                                <img class="media-object comment-avatar" src="images/blog/avater-1.jpg"
                                                     alt="" width="50" height="50"/>
                                            </a>

                                            <div class="media-body">
                                                <div class="comment-info">
                                                    <h4 class="comment-author">
                                                        <a href="#!">Jonathon Andrew</a>

                                                    </h4>
                                                    <time datetime="2013-04-06T13:53">July 02, 2015, at 11:34</time>
                                                    <a class="comment-button" href="#!"><i
                                                            class="tf-ion-chatbubbles"></i>Reply</a>
                                                </div>

                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at
                                                    magna ut ante eleifend eleifend.Lorem ipsum dolor sit amet,
                                                    consectetur adipisicing elit. Quod laborum minima, reprehenderit
                                                    laboriosam officiis praesentium? Impedit minus provident assumenda
                                                    quae.
                                                </p>
                                            </div>

                                        </li>
                                        <!-- End Comment Item -->

                                        <!-- Comment Item start-->
                                        <li class="media">

                                            <a class="pull-left" href="#!">
                                                <img class="media-object comment-avatar" src="images/blog/avater-4.jpg"
                                                     alt="" width="50" height="50"/>
                                            </a>

                                            <div class="media-body">

                                                <div class="comment-info">
                                                    <div class="comment-author">
                                                        <a href="#!">Jonathon Andrew</a>
                                                    </div>
                                                    <time datetime="2013-04-06T13:53">July 02, 2015, at 11:34</time>
                                                    <a class="comment-button" href="#!"><i
                                                            class="tf-ion-chatbubbles"></i>Reply</a>
                                                </div>

                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at
                                                    magna ut ante eleifend eleifend. Lorem ipsum dolor sit amet,
                                                    consectetur adipisicing elit. Magni natus, nostrum iste non delectus
                                                    atque ab a accusantium optio, dolor!
                                                </p>

                                            </div>

                                        </li>
                                        <!-- End Comment Item -->
                                        <!-- Comment Item start-->
                            <li class="media">

                            <a class="pull-left" href="#!">
                            <img class="media-object comment-avatar" src="images/blog/avater-1.jpg"
                            alt="" width="50" height="50">
                            </a>

                            <div class="media-body">

                            <div class="comment-info">
                            <div class="comment-author">
                            <a href="#!">Jonathon Andrew</a>
                        </div>
                            <time datetime="2013-04-06T13:53">July 02, 2015, at 11:34</time>
                            <a class="comment-button" href="#!"><i
                            class="tf-ion-chatbubbles"></i>Reply</a>
                        </div>

                            <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at
                            magna ut ante eleifend eleifend.
                            </p>

                        </div>

                            </li>
                            </ul>
                        </div>
                        </div>

{% endcomment %}


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="products related-products section">
        <div class="container">
            <div class="row">
                <div class="title text-center">
                    <h2>隨機新樣產品</h2>
                </div>
            </div>
            <div class="row">
                {% for item in all_photo_random %}
                    <div class="col-md-3">
                        <div class="product-item">
                            <div class="product-thumb">
                                {% if item.is_onsale %}
                                    <span class="bage">特價</span>
                                {% endif %}
                                <img class="img-responsive" src="{{ item.productphoto_set.first.product_photo.url }}"
                                     alt="product-img"/>
                                <div class="preview-meta">
                                    <ul>
                                        <li>
                                        <span data-toggle="modal" data-target="#product-modal-{{ item.id }}">
                                            <i class="tf-ion-ios-search"></i>
                                        </span>
                                        </li>
                                        <li>
                                            <a href="#!"><i class="tf-ion-android-cart"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-content">
                                <h4><a href="{% url 'shop_detail_view' item.id %}">{{ item.name }}</a></h4>
                                <p class="price">${{ item.price }}</p>
                            </div>
                        </div>
                    </div>

                    <!-- Modal -->
                    <div class="modal product-modal fade" id="product-modal-{{ item.id }}">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="tf-ion-close"></i>
                        </button>
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="modal-image">
                                                <img class="img-responsive"
                                                     src="{{ item.productphoto_set.first.product_photo.url }}"/>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="product-short-details">
                                                <h2 class="product-title">{{ item.name }}</h2>
                                                <p class="product-price">${{ item.price }}</p>
                                                <p class="product-short-description">
                                                    {{ item.small_description }}
                                                </p>
                                                <a href="#!" class="btn btn-main">加入購物車</a>
                                                <a href="{% url 'shop_detail_view' item.id %}"
                                                   class="btn btn-transparent">查看商品資訊</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>


{% endblock %}